.section-one {
  background-color: #2D2641;
  position: relative;
  padding: 150px 0 127px 0;
  background-image: url("../images/line.png");
  background-repeat: no-repeat;
  background-position: calc(1120px - 50px) calc(-80px - 50px);


 .barner {
  display: flex;
  justify-content: space-between;
}

 .barner-lef::before {
  background-color: #fff;
  width: 150px;
  height: 1px;
  content: "";
  display: block;
  margin-bottom: 63px;

}

 .barner-lef {
  max-width: 540px;

}

 .title {
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  color: #fff;
  font-family: "DM Serif Display", sans-serif;
  margin: 0 0 16px 0;
}

 .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 24px 0;
  color: #FFF;
}

 .btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #FFF;
  border: 1.5px solid #FFF;
  padding: 13px 28px;
  display: inline-block;
  transition: all 0.3s linear;
  
}
 .btn:hover {
  background-color:#fff ;
  color: #2C2830;
 }

 .barner-right img {
  position: absolute;
  right: 165px;
}

.line {
  position: absolute;
  top: 400px;
  left: -500px;
}
}
.seection-tuo {
  padding: 305px 0 0 0;


 .diferent::before {
  background-color: #2D2641;
  width: 150px;
  height: 1px;
  content: "";
  display: block;
  margin-bottom: 63px;
}

.diferent .title {
  font-weight: 400;
  font-size: 72px;
  line-height: 64px;
  color: #2C2830;
  margin: 0 0 96px 0;
}

 .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

 .list-item {
  width: 350px;

}
.list-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

 .list-item::before {
  width: 86px;
  height: 86px;
  content: "";
  display: block;
  margin-bottom: 32px;
}

 .list-item:nth-child(1):before {
  background-image: url("../images/lightning.png");
}

 .list-item:nth-child(2)::before {
  background-image: url("../images/dollor.png");
}

.list-item:nth-child(3)::before {
  background-image: url("../images/user.png");
}

 .list-item .title {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #2C2830;
  margin: 0 0 16px 0;
}

.list-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #837D88;
  margin: 0;
}
}
.box {
  padding: 150px 0;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 69px 81px;
  height: 250px;
  background-color: #2D2641;
  background-image: url("/images/line.png");
  background-repeat: no-repeat;
  background-position: top -185px right -292px;


 .title {
  width: 480px;
  font-weight: 400;
  font-size: 56px;
  line-height: 56px;
  color: #FFF;


}

 .btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 24px;
  border: 1.5px solid #FFF;
  color: #FFF;
  transition: all 0.3s linear;

}
 .btn:hover {
  background-color: #fff;
  color:#2C2830;

}

}
@media only screen and (max-width:1450px) {
  .section-one {
    .barner {
      flex-direction: column-reverse;
      align-items: center;

    }
     .barner-lef {
      text-align: center;
    }
    .barner-right img {
      position: relative;
      left: 0 ;
      right: 0;
    }
  }
}
@media only screen and (max-width:600px) {
  .section-one {
    background-position: calc(50% - 423px) calc(50% - -194px);
    padding: 0;
    .barner {
      flex-direction: column-reverse;
      align-items: center;

    }
    .line {
      position: absolute;
      top: 850px;
      left: 350px;
      display: none;
      
    }
     .barner-lef {
       text-align: center;
      }
      .barner-lef {
        &::before {
          display: none;
        }
      }
    .title {
      margin-top: 293px;
      font-weight: 400;
font-size: 48px;
line-height: 48px;
    }
    .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
    .btn {
      margin-bottom: 93px;
    }
    .barner-right {
      width: 100%;
      height: 465px;
      position: relative;
      img {
      width: 107.3%;
      position: absolute;
      left: -20px ;
      right: -20px;
    }
  }
  }
  .seection-tuo {
    padding: 140px 0 0 0;
    text-align: center;
    .diferent {
      width: 100%;
      &::before {
        margin: 0 auto 40px auto;
      }
    }
    .list {
      flex-direction: column;
      align-items: center;
    }
    .list-item {
     width: 100%;
      margin: 56px 0 0 0;
    }
    .list-item::before {
     margin: 0 auto 32px auto;
    }
    

 .list-item:not(:last-child) {
    margin-right: 0px;
}
   .diferent .title {
      font-weight: 400;
font-size: 48px;
line-height: 48px;
    }
    .list-item .title {
      font-weight: 400;
font-size: 28px;
line-height: 38px;
    }

  }
  .article {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    .title {
      width: 100%;
      font-weight: 400;
font-size: 40px;
line-height: 40px;
    }
    .btn {
     margin-top: 40px;
     
    }
  }
}
@media only screen and (max-width:380px) {
  .section-one {
    background-position: calc(50% - 423px) calc(50% - -194px);
    padding: 0;
    .barner {
      flex-direction: column-reverse;
      align-items: center;

    }
    .line {
      position: absolute;
      top: 850px;
      left: 350px;
      display: none;
      
    }
     .barner-lef {
       text-align: center;
      }
      .barner-lef {
        &::before {
          display: none;
        }
      }
    .title {
      margin-top: 293px;
      font-weight: 400;
font-size: 48px;
line-height: 48px;
    }
    .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }
    .btn {
      margin-bottom: 93px;
    }
    .barner-right {
      width: 100%;
      height: 465px;
      position: relative;
      img {
      width: 112%;
      position: absolute;
      left: -20px ;
      right: -20px;
    }
  }
  }
  .seection-tuo {
    padding: 140px 0 0 0;
    text-align: center;
    .diferent {
      width: 100%;
      &::before {
        margin: 0 auto 40px auto;
      }
    }
    .list {
      flex-direction: column;
      align-items: center;
    }
    .list-item {
      &:not(:last-child) {
        margin: 56px 0 0 0;
      }
    }
    .list-item::before {
     margin: 0 auto 32px auto;
    }
   .diferent .title {
      font-weight: 400;
font-size: 48px;
line-height: 48px;
    }
    .list-item .title {
      font-weight: 400;
font-size: 28px;
line-height: 38px;
    }

  }
  .article {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    .title {
      width: 100%;
      font-weight: 400;
font-size: 40px;
line-height: 40px;
    }
    .btn {
     margin-top: 40px;
     
    }
  }
}